{% extends "base.html" %} {% block main %}
<div class="main-box">
    <h1>demo</h1>
    <ul>
        <li><a class="blue f14" href="/line">绘制线</a></li>
        <li><a class="blue f14" href="/shader">着色器demo(有兼容性问题待解决)</a></li>
        <li><a class="blue f14" href="/globe">简单球体</a></li>
        <li><a class="blue f14" href="/animateDemo">运动demo</a></li>
        <li><a class="blue f14" href="/particle">粒子系统</a></li>
        <li><a class="blue f14" href="/particleSprites">粒子系统2</a></li>
        <li><a class="blue f14" href="/cubeImg">正方形贴图</a></li>
        <li><a class="blue f14" href="/viewModel">3D预览之模型观察（引入OrbitControls.js交互控制，引入TGALoader.js进行tag贴图）</a></li>
        <li><a class="blue f14" href="/pullinModel">3D预览之模型引入</a></li>
        <li><a class="blue f14" href="/jsonLoad">3D预览之zakeke模型引入</a></li>
        <li><a class="blue f14" href="/webgl-01">WebGLFundamentals-基础原理</a></li>
        <li><a class="blue f14" href="/webgl-02">WebGLFundamentals-工作原理</a></li>
        <li><a class="blue f14" href="/webgl-03">WebGLFundamentals-图像处理</a></li>
        <li><a class="blue f14" href="/webgl-04">WebGLFundamentals-进一步处理图像</a></li>
        <li><a class="blue f14" href="/webgl-05">WebGLFundamentals-二维平移(webgl-2d-translation)</a></li>
        <li><a class="blue f14" href="/webgl-06">WebGLFundamentals-二维旋转(webgl-2d-rotation)</a></li>
        <li><a class="blue f14" href="/webgl-07">WebGLFundamentals-二维缩放(webgl-2d-scale)</a></li>
        <li><a class="blue f14" href="/webgl-08">WebGLFundamentals-二维矩阵(webgl-2d-matrices)</a></li>
        <li><a class="blue f14" href="/webgl-09">WebGLFundamentals-三维正射投影(webgl-3d-orthographic)</a></li>
        <li><a class="blue f14" href="/composeImgByCanvas">合成图片</a></li>
    </ul>
</div>
{% endblock %}