{% extends "base.html" %} {% block main %}
<style>

</style>
<!-- <a id="start" class="ml10 main-btn-b" href="javascript:main()">点击开始</a>
<br><a id="start" class="ml10 main-btn-b mt20" href="javascript:main(true)">点击开始(网格)</a> -->

<script type="text/javascript">
  // import { DRAW_IMAGE_EXTEND_EX, multiply, Point2D, Vert2D, Mesh2D }  from './previewAPI';
const DRAW_IMAGE_EXTEND_EX = 3;

class Point2D {
 constructor(x, y, u, v) {
  this.x = x;
  this.y = y;
  this.u = u;
  this.v = v;   	
 }
 changeByMatrix4(te) {
      var vx = this.x, vy = this.y, vz = this.z;
      var d = 1 / (te[3] * vx + te[7] * vy + te[11] * vz + te[15]);

      this.x = (te[0] * vx + te[4] * vy + te[8] * vz + te[12]) * d;
      this.y = (te[1] * vx + te[5] * vy + te[9] * vz + te[13]) * d;
      this.z = (te[2] * vx + te[6] * vy + te[10] * vz + te[14]) * d;
  }
}

class Vert2D {
 constructor(p0, p1, p2) {
  this.p0 = p0;
  this.p1 = p1;
  this.p2 = p2;
 }
 drawMeshLineToContext(plist, ctx) {
  var p0 = plist[this.p0] ,p1 = plist[this.p1] ,p2 = plist[this.p2];
  ctx.moveTo(p0.x, p0.y);
  ctx.lineTo(p1.x, p1.y);
  ctx.lineTo(p2.x, p2.y);
  ctx.lineTo(p0.x, p0.y);
 }
 drawImageToContext(plist, img, ctx) {
  var p0 = plist[this.p0] ,p1 = plist[this.p1] ,p2 = plist[this.p2];
  Vert2D.drawImageToContextWithPoints(img ,ctx ,p0.x ,p0.y ,p1.x ,p1.y ,p2.x ,p2.y ,p0.u ,p0.v ,p1.u ,p1.v ,p2.u ,p2.v);
 }

 static extendVert(x0, y0, x1, y1, x2, y2) {
  var x = 2*x0 - x1 - x2, y = 2 * y0 - y1 - y2;
  var d = Math.sqrt(DRAW_IMAGE_EXTEND_EX / (x * x + y * y));
  return [x0 + x * d, y0 + y * d];
 }

 static drawImageToContextWithPoints(img ,ctx ,x0 ,y0 ,x1 ,y1 ,x2 ,y2 ,u0 ,v0 ,u1 ,v1 ,u2 ,v2) {
  u0 *= img.width;
  u1 *= img.width;
  u2 *= img.width;
  v0 *= img.height;
  v1 *= img.height;
  v2 *= img.height;

  //fix gap in images
  var s0 = Vert2D.extendVert(x0, y0, x1, y1, x2, y2);
  var s1 = Vert2D.extendVert(x1, y1, x0, y0, x2, y2);
  var s2 = Vert2D.extendVert(x2, y2, x1, y1, x0, y0);
  //fix end

  ctx.beginPath();
  ctx.moveTo(s0[0], s0[1]);
  ctx.lineTo(s1[0], s1[1]);
  ctx.lineTo(s2[0], s2[1]);
  ctx.closePath();
 
  x1 -= x0;
  y1 -= y0;
  x2 -= x0;
  y2 -= y0;
 
  u1 -= u0;
  v1 -= v0;
  u2 -= u0;
  v2 -= v0;
 
  var det = 1 / (u1*v2 - u2*v1),
      a = (v2*x1 - v1*x2) * det,
      b = (v2*y1 - v1*y2) * det,
      c = (u1*x2 - u2*x1) * det,
      d = (u1*y2 - u2*y1) * det,
      e = x0 - a*u0 - c*v0,
      f = y0 - b*u0 - d*v0;
 
  ctx.save();
  ctx.transform(a, b, c, d, e, f);
  ctx.clip();
  ctx.drawImage(img, 0, 0);
  ctx.restore();
 }
}

class Mesh2D {
 constructor() {
 	this.points = [];
 	this.verts = [];
 }

 move( x,y ) {
  for (var i = 0 ;i < this.points.length ;i++) {
   this.points[i].x+=x;
   this.points[i].y+=y;
  }
 }
 changeByMatrix4(te) {
      for (var i = 0; i < this.points.length; i++) {
          this.points[i].changeByMatrix4(te);
      }
  }
 drawMeshLine(ctx) {
  ctx.save();
  ctx.lineWidth = 0.5;
  ctx.strokeStyle = "#0000ff";
  for (var i = 0 ;i < this.verts.length ;i++) {
   this.verts[i].drawMeshLineToContext(this.points, ctx);
  }
  ctx.stroke();
  ctx.restore();
 }
 drawImageToContext(img, ctx) {
  for (var i = 0 ;i < this.verts.length ;i++) {
   this.verts[i].drawImageToContext(this.points, img, ctx);
  }
 }

 static createMapMesh(width, height, divW, divH) {
  var m = new Mesh2D();
  var widthSingle = width/divW ,heightSingle = height/divH;
  var uSingle = 1/divW ,vSingel = 1/divH;
  for (var i=0 ;i<=divH; i++) {
   for (var j=0 ;j<=divW; j++) {
  	m.points.push(new Point2D(j*widthSingle ,i*heightSingle ,j*uSingle ,i*vSingel));
   }
  }
  for (var i=0 ;i<divH; i++) {
   for (var j=0 ;j<divW; j++) {
   	var startPoint = (divW + 1) * i + j;
  	m.verts.push(new Vert2D(startPoint+1, startPoint, startPoint+divW+1));
  	m.verts.push(new Vert2D(startPoint+divW+1, startPoint+divW+2, startPoint+1));
   }
  }
  return m;
 }
}

const FISH_DIV = 16;
const FISH_DIV_h = 1;

function main(debug) {
  const width = 400;
  const height = 300;
 $('body').append(`<canvas class="ml20" id=main width=${width*2}px height=${height}px style=background-color:#bed1fd></canvas>`);
 var ct = document.getElementById("main").getContext("2d");  

 var m = Mesh2D.createMapMesh(width, 250, FISH_DIV, FISH_DIV_h);

 var img;
 var loadImg = function () {
  img = new Image();
  img.src = "/static/images/previewTest.jpg";
  img.onload = render;
 } 

 var render = function() {
  /* 透视变化矩阵计算
    [a, b, 0,
    d, e, 0,
    g, h, 1]
    dx31 = x3 - x1
    dx32 = x3 - y2
    dy31 = y3 - y1
    dy32 = y3 - y2
    det(M) = dx31dy32 - dy31dx32
    

  */
  ct.clearRect(0, 0, width, height);
  m.drawImageToContext(img, ct);
  if (debug) m.drawMeshLine(ct);
  // window.requestAnimationFrame(render);
 }

 loadImg();
}
main(true)
</script>
{% endblock %}