<script>
  if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
  // 渲染器高宽与纹理图片路径
  const WIDTH = 1200;
  const HEIGHT = 1200;
  const backgroundImg = '/static/images/background-demo.png';
  // 观察距离（待研究）
  const viewPositionY = -1300;
  const viewPositionX = 0;
  const viewPositionZ = 0;

  // renderer构建
  let container;
  let renderer;
  let png;
  let path;
  function initRenderer() {
    // node构建
    const THREE = require('three')
    const PNG = require('pngjs').PNG
    const gl = gl = require('gl')(WIDTH, HEIGHT, { preserveDrawingBuffer: true })
    const fs = require('fs')
    const { JSDOM } = require("jsdom");
    const dom = new JSDOM('<!doctype html><html><head></head><body></body></html>');
    const window = dom.window;
    const document = window.document;
    const canvas = document.createElement('canvas');
    path = 'out.png'
    png = new PNG({ width: WIDTH, height: HEIGHT })
    renderer = new THREE.WebGLRenderer({
        antialias: true,
        canvas: canvas,
        context: gl
    })
  }
  // 相机构建
  let camera;
  function initCamera() {
      camera = new THREE.PerspectiveCamera(45, WIDTH / HEIGHT, 0.1, 10000);
      // camera.position.x = 500;
      // camera.position.y = 500;
      camera.position.z = 1200;
      // camera.setRotationFromEuler(new THREE.Euler( -0.9, 0.9, 0.8, 'XYZ' ))
      // = ''
      // new THREE.Euler( 1, 1, 0, 'XYZ' );;
      // camera.up = new THREE.Vector3(-1, 1, 0);
      // camera.updateProjectionMatrix();
  }
  let scene;
  function initScene() {
      scene = new THREE.Scene();
  }
  let lights = [];
  function initLight() {
    //光源1为环境光
    let ambientLight = new THREE.AmbientLight( 0xeeeeee, 0.8 );
    //光源2为点光源
    let pointLight = new THREE.PointLight( 0xffffff, 0.3 );
    pointLight.position.set( 0, 200, 0);
    lights.push(ambientLight, pointLight);
    scene.add(ambientLight);
    scene.add(pointLight);
  }
  // 初始化辅助线和背景图
  function initDebug() {
    //模型辅助线
    let axisHelper = new THREE.AxesHelper(500);
    
    //给场景添加天空盒子纹理
    let cubeTextureLoader = new THREE.CubeTextureLoader();
    cubeTextureLoader.setPath( '/static/images/textures/' );
    //六张图片分别是朝前的（posz）、朝后的（negz）、朝上的（posy）、朝下的（negy）、朝右的（posx）和朝左的（negx）。
    let cubeTexture = cubeTextureLoader.load( [
        'right.jpg', 'left.jpg',
        'top.jpg', 'bottom.jpg',
        'front.jpg', 'back.jpg'
    ] );

    scene.add(axisHelper);
    scene.background = cubeTexture;
  }
  // 初始化模型（带纹理）
  function initObject() {
    let onProgress;
    let onError;
    let manager;
    let textureLoader;
    let texture;
    let loader;

    // model载入过程监控
    onProgress = function ( xhr ) {
        if ( xhr.lengthComputable ) {
            var percentComplete = xhr.loaded / xhr.total * 100;
            console.log( Math.round(percentComplete, 2) + '% downloaded' );
        }
    };
    // model载入失败监控
    onError = function ( xhr ) {
        console.log('model:' + xhr + '引入失败');
    };
    manager = new THREE.LoadingManager();
    manager.onProgress = function ( url, loaded, total ) {
      console.log(url, loaded, total);
    };
    // texture载入
    textureLoader = new THREE.TextureLoader( manager );
    texture = textureLoader.load( backgroundImg );
    loader = new THREE.JSONLoader( manager );
    loader.load( '/static/models/textureObj2.js', function ( geometry, materials ) {
        let meshObj = new THREE.Mesh( geometry, materials );
        meshObj.traverse( function ( child ) {
            if ( child instanceof THREE.Mesh ) {
                // 设置纹理映射
                child.material[0].map = texture;
                child.material[0].side = THREE.DoubleSide;
                child.material[0].transparent = true;
            }
        });
        meshObj.position.y = viewPositionY;
        meshObj.position.x = viewPositionX;
        meshObj.position.z = viewPositionZ;
        scene.add( meshObj );
        // render();
    }, onProgress, onError );
  }
  function render() {
    // renderer.clear();
    renderer.render( scene, camera );
  }

  function init(debug){
    initScene();
    initRenderer();
    initCamera();
    if (debug) {
      initDebug();
    }
    initLight();
    initObject();
    // node
    // Let's create a render target object where we'll be rendering
    let rtTexture = new THREE.WebGLRenderTarget(
        width, height, {
            minFilter: THREE.LinearFilter,
            magFilter: THREE.NearestFilter,
            format: THREE.RGBAFormat
    })
    renderer.render(scene, camera, rtTexture, true);
  }
  // 导出图片
  function exportImg(){
    let newGl = renderer.getContext()

    let pixels = new Uint8Array(4 * WIDTH * HEIGHT)

    newGl.readPixels(0, 0, WIDTH, HEIGHT, gl.RGBA, gl.UNSIGNED_BYTE, pixels)

    for(let j = 0; j < HEIGHT; j++){
        for(let i = 0; i < WIDTH; i++){
            const k = j * WIDTH + i
            const r = pixels[4*k]
            const g = pixels[4*k + 1]
            const b = pixels[4*k + 2]
            const a = pixels[4*k + 3]

            const m = (HEIGHT - j + 1) * WIDTH + i
            png.data[4*m]     = r
            png.data[4*m + 1] = g
            png.data[4*m + 2] = b
            png.data[4*m + 3] = a
        }
    }

    let stream = fs.createWriteStream(path)
    png.pack().pipe(stream)

    stream.on('close', () =>
        console.log("Image written: #{ path }")
    )
  }
  init(true);
  exportImg();
  // render();

</script>