{% extends "base.html" %} {% block main %}
<style>
  body {
    background:#777;
    padding:0;
    margin:0;
    overflow:hidden;
  }
</style>
<script src="/static/js/OrbitControls.js"></script>
<script src="/static/js/OBJLoader.js"></script>
<script src="/static/js/three_OBJExporter.js"></script>
<script>
    // WebGL能力检测
    if ( ! Detector.webgl ) {
        Detector.addGetWebGLMessage();
    }
    //定义3D世界变量
    var camera;
    var scene;
    var renderer;
    var stats;
    var WIDTH = window.innerWidth;
    var HEIGHT = window.innerHeight;
    var windowHalfX = window.innerWidth / 2;
    var windowHalfY = window.innerHeight / 2;
    var container;
    var mouseX = 0, mouseY = 0;

    // 观察距离（待研究）
    var viewPosition = -1300;

    init();
    animate();

    function init(){
        // 模型辅助线
        var axisHelper;

        // 定义光源变量
        // 环境光
        var ambientLight;
        // 点光源
        var pointLight;

        // 数据载入器
        var manager;

        // 定义model变量
        // model载入器
        var loader;
        // model载入监控变量
        var onProgress;
        var onError

        // 定义纹理变量
        // 背景纹理载入器
        var cubeTextureLoader;
        // 背景纹理
        var cubeTexture;
        // model纹理载入器
        var textureLoader;
        // model纹理
        var texture;


        // 控件变量
        var controls; // OrbitControls插件

        // 容器变量
        var container = document.createElement( 'div' );
        document.body.appendChild( container );

        camera = new THREE.PerspectiveCamera( 45, WIDTH / HEIGHT, 0.1, 10000 );
        camera.position.z = 1000;

        scene = new THREE.Scene();
        //给场景添加天空盒子纹理
        cubeTextureLoader = new THREE.CubeTextureLoader();
        cubeTextureLoader.setPath( '/static/images/textures/' );
        //六张图片分别是朝前的（posz）、朝后的（negz）、朝上的（posy）、朝下的（negy）、朝右的（posx）和朝左的（negx）。
        cubeTexture = cubeTextureLoader.load( [
            'right.jpg', 'left.jpg',
            'top.jpg', 'bottom.jpg',
            'front.jpg', 'back.jpg'
        ] );
        scene.background = cubeTexture;

        //光源1为环境光
        ambientLight = new THREE.AmbientLight( 0xffffff, 0.8 );
        scene.add( ambientLight );
        //光源2为点光源
        pointLight = new THREE.PointLight( 0xffffff, 0.3 );
        pointLight.position.set( 100, -100, 300);
        scene.add( pointLight );
        scene.add( camera );

        //模型辅助线
        // THREE.AxisHelper has been renamed to THREE.AxesHelper.
        // axisHelper = new THREE.AxisHelper(500);
        axisHelper = new THREE.AxesHelper(500);
        scene.add(axisHelper);

        //引入OrbitControls插件，控制camera
        controls = new THREE.OrbitControls( camera );

        // texture载入
        manager = new THREE.LoadingManager();
        manager.onProgress = function ( url, loaded, total ) {
            console.log(url, loaded, total);
        };
        textureLoader = new THREE.TextureLoader( manager );
        texture = [];
        texture.push(textureLoader.load( '/static/images/texture.jpg'));

        // model载入过程监控
        onProgress = function ( xhr ) {
            if ( xhr.lengthComputable ) {
            var percentComplete = xhr.loaded / xhr.total * 100;
            console.log( Math.round(percentComplete, 2) + '% downloaded' );
            }
        };
        // model载入失败监控
        onError = function ( xhr ) {
            console.log('model:' + xhr + '引入失败');
        };
        loader = new THREE.JSONLoader( manager );
        loader.load( '/static/models/textureObj2.js', function ( geometry, materials ) {
            var object = new THREE.Mesh( geometry, materials );
            object.traverse( function ( child ) {
                if ( child instanceof THREE.Mesh ) {
                // 设置纹理映射
                child.material[0].map = texture[0];
                }
            });
            object.position.y = viewPosition;
            scene.add( object );
        }, onProgress, onError );

        renderer = new THREE.WebGLRenderer();
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( window.innerWidth, window.innerHeight );
        container.appendChild( renderer.domElement );

        stats = new Stats();
        container.appendChild( stats.dom );

        window.addEventListener( 'resize', onWindowResize, false );
    }
    function onWindowResize() {
        windowHalfX = window.innerWidth / 2;
        windowHalfY = window.innerHeight / 2;

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth, window.innerHeight );
    }
    function animate() {

        requestAnimationFrame( animate );

        render();
        stats.update();

    }

    function render() {
        renderer.render( scene, camera );
    }
</script>
{% endblock %}